
.body {
  max-width: 760px;
  margin: 20px auto 0 auto;
}
.header {
  display: inline;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;


}
.header nav {
  display: inline-block;
  vertical-align: middle;
  margin-top: 66px;
}

nav {
   color: black;
   font-weight: bold;
   padding: 20px;
}

.a {
  display: inline-flex;
}

.logo {
  display: flex;
  color: mediumaquamarine;
  padding-left: 20px;
  align-items: flex-start;


}

.logotype {
  padding-left: 20px;
  margin-right: 300px;
}

.nav {
  display: inline;

}

.color{
  color: black;
}

.column {
  display: flex;

}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;

}
