

.header {
  display: inline;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.a {
  display: inline-flex;
  color: black;
}

.logo {
  display: flex;
  color: mediumaquamarine;
  padding-left: 20px;
}

.logotype {
  padding-left: 20px;
}

.nav {
  display: inline;
  float: right;
}

.color{
  color: black;
}

.column {
  display: flex;

}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;

}
